<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="feedback.css
    ">
</head>
<body>
    <form method="get" action="/mailoption" >
        <p>Your insights matter at 'dip Notes.' Our platform is committed to elevating your college experience by providing access to a wealth of resources. Your feedback is instrumental in helping us raise the standards and ensure 'VipinNotes' remains your go-to destination for academic support and networking. Share your thoughts, ideas, and suggestions as we work together to make 'VipinNotes' an even more exceptional platform. Thank you for being a valued part of our community...</p>
        <button id="btn">Email Us</button>
    </form>
    
</body>
</html>