<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dip Notes</title>
    <link rel="stylesheet" href="header.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <h1 class="site-title">Dip Notes</h1>
      <nav>
                      <ul class="nav-list">
                    <li><a href="dip.html">Home</a></li>
                    <li><a href="/academics">Academics</a></li>
                    <li><a href="/academics">Upload</a></li>
                    <li><a href="#placement">Placement</a></li>
                    <li><a href="#extras">Extras</a></li>
                    <li><a href="#coding">Coding</a></li>
                    <li><a href="feedback/feedback.html">Feedback</a></li>
                    <li><a href="reteus/rateus.html">Rate Us</a></li>
                    <li><a href="about.html">About Us</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>