<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download PDFs</title>
   <style>
    /* style.css */
    *{
        background-image: url('/kellen-riggin-LDkl1lAOov0-unsplash.jpg');
    }
.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.pdf-item {
    margin-bottom: 20px;
}

.download-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.download-button:hover {
    background-color: #45a049;
}
a{
    border: white ;
    background-color: bisque;
}

   </style>
</head>
<body>
    <div class="container">
        <h1>Download PDFs</h1>
        <div class="pdf-item">
            <h3>'clod computing' notes click snd download here....</h3>
            <a href="/pdfs/sample1.pdf" download>
                <button class="download-button">Download</button>
            </a>
        </div>
        <div class="pdf-item">
            <h3>'soft computing' notes click snd download here....</h3>

                </a>
                <a href="https://drive.google.com/drive/folders/1dsJgRnZorSYq5nAYz0c2K9qhTT1FOmEA?usp=drive_link" download>
                    <button class="download-button">Download all 5 unit </button>
                </a>
           
        </div>
        <div class="pdf-item">
            <h3>'tot' notes click snd download here....</h3>
            <a href="/pdfs/sample3.pdf" download>
                <button class="download-button">Download</button>
            </a>
        </div>
    </div>
</body>
</html>
